<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments :: header"></div>

<div th:insert="fragments :: navbar"></div>

<div class="container py-5">
	<div class="row">
		<h3>Liste des exécutions</h3>
	</div>
	<div class="row">
		<table class="table">
			<tr>
				<th>Nom</th>
				<th>Dernière instance</th>
				<th>Dernière exécution</th>

				<th></th>
			</tr>
			<tr th:each="execution : ${executions}">
				<td th:text="${execution.jobInstance.jobName}">Réf</td>
				<td th:text="${execution.jobInstance.id}">Réf</td>
				<td th:text="${execution.startTime}">23.32</td>
				<td th:text="${execution.exitStatus}">23.32</td>
				
			</tr>
		</table>
	</div>
</div>